{% extends "base_min.html" %}
{% block content %}
    <div class="container">
        <section>
            <div class="row">
                <div class="col-sm-5 col-sm-offset-3">
                    <h2>Add items to shopping list.</h2>
                </div>
            </div><br>
            <form method="post" action="" form class="form-inline">
                <div class="form-group">
                    <label>Item: </label>
                    <input type="text" name="item" class="form-control" placeholder="Item" required>
                    <label>Quantity: </label>
                    <input type="text" name="qty" class="form-control" placeholder="Quantity" required>
                    <button type="submit" class="btn btn-primary">Add Item</button>
                </div>
            </form>
        </section>
    </div>
{% endblock %}  
   