{% extends "base.html" %}
{% block content %}
<div class="container">
    <!-- Main navigation-->
    <header>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <p class="h2 mb-4" >User Login</p>
            </div>
        </div>
    </header>
    <section>
        {% if error_msg %}
        <div class="row">
            <div class="col-sm-5 col-sm-offset-3 alert alert-danger">
                {{ error_msg }}
            </div>
        </div>
        {% endif %}

        <form method="post" action="/login" id="forms">
            <div class="row form-group">
                <div class="col-sm-5 col-sm-offset-3">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-5 col-sm-offset-3">
                    <label>Password</label>
                    <input type="password" name="psw" class="form-control" required>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-5 col-sm-offset-3">
                    <button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
                </div>
            </div>
        </form>
        <div class="col-sm-5 col-sm-offset-3">
            <p>You dont have an account, please register <a href="/register">here</a>.</p>
        </div>
    </section>
</div>
{% endblock %}
