{% extends "base.html" %}
{% block content %}
<div class="container">
    <!-- Main navigation-->
    <header>
        <div class="row">
            <div class="col-sm-5 col-sm-offset-3">
                <h2>User Registration</h2>
            </div>
        </div>
    </header>
    <section>
        {% if error_msg %}
        <div class="row">
            <div class="col-sm-5 col-sm-offset-4 alert alert-danger">
                {{ error_msg }}
            </div>
        </div>
        {% endif %}

        <form method="post" action="/register" id="forms">
            <div class="row form-group">
                <div class="col-sm-5 col-sm-offset-4">
                    <label>Username</label>
                    <input type="text" name="username" class="form-control" required>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-5 col-sm-offset-4">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-5 col-sm-offset-4">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-5 col-sm-offset-4">
                    <label>Confirm Password</label>
                    <input type="password" name="confirm_password" class="form-control" required>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-5 col-sm-offset-4">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </div>
        </form>
        <div class="col-sm-5 col-sm-offset-4">
            <p>Already have an account, please <a href="/login">login</a></p>
        </div>
    </section>
</div>
{% endblock %}