{% extends "base_min.html" %}
{% block content %}
    <div class="container">
        <section>
            <div class="row">
                <div class="col-sm-5 col-sm-offset-3">
                    <h2>Update item on shopping list.</h2>
                </div>
            </div><br>
            <form method="post" action="" form class="form-inline">
                <div class="form-group">
                    <label>Item: </label>
                    <input type="text" name="item" class="form-control" placeholder="Item" value="{{ item }}" required>
                    <label>Quantity: </label>
                    <input type="text" name="qty" class="form-control" placeholder="Quantity" value="{{ quantity }}" required>
                    <button type="submit" class="btn btn-primary">Update Item</button>
                </div>
            </form>
        </section>
    </div>
{% endblock %}