<!DOCTYPE html>
<html>
    <head>
        <title>Shopping Guru</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <h1> The Shopping Guru </h1>
        </header>
        <nav>
            <a href="/{{ username }}/create">Create shopping list</a> | <a href="/logout">Logout</a>
        </nav>
        <section>
            <h1>{{ username }}'s shopping lists.</h1>
            {% if shopping_lists: %}
                <table><th>Shopping list name</th><th colspan="2"> Actions</th>
                {% for count in range(num) %}
                    <tr><td><a href="/shoppinglist/items/{{ count }}/">{{ shopping_lists[count].name }}</a></td>  <td><a href="/{{ username }}/update/{{ count }}"> update</a></td> <td><a href="/{{count}}/delete">delete</a></td></tr>
                {% endfor %}
                </table>
            {% else %}
                <p>Sorry, you dont have any shopping lists yet.</p>
            {% endif %}
        </section>
        <footer>
            <p>&copy; flacode 2017</p>
        </footer>
    </body>
</html>